<div class="styleHeader">
  <div class="flex flex-col items-center">
    <span>Window</span>
    <span>Mover</span>
  </div>

  <div class="flex flex-row items-center gap-x-3">
    <span [routerLink]="['']" class="text-xl cursor-pointer" [ngClass]="url == '/home' ? 'font-bold' : ''">Home</span>
    <span [routerLink]="['about']" class="text-xl cursor-pointer" [ngClass]="url == '/about' ? 'font-bold' : ''">About</span>
  </div>

  <div class="flex flex-row gap-x-2 justify-center items-center">
    @if (themeVal == '') {
      <ion-icon class="!text-3xl cursor-pointer" name="sunny-outline" (click)="setTheme('dark')" />
    } @else if (themeVal == 'dark') {
      <ion-icon class="!text-3xl cursor-pointer" name="moon-outline" (click)="setTheme('')" />
    }
  </div>
</div>