@tailwind base;
@tailwind components;
@tailwind utilities;

.theme {
  @apply text-black dark:text-white bg-white dark:bg-zinc-900
}

.textNormal {
  @apply text-black dark:text-white
}

.textMuted {
  @apply text-gray-800 dark:text-gray-300
}

.styleBody {
  @apply theme top-0 left-0 m-0
}

.styleHeader {
  @apply styleBody sticky flex flex-row justify-between items-center top-0 p-3 mx-auto z-40 !rounded-none styleBorderSolidLite border-b-2 w-full
}

.styleBottomNav {
  @apply fixed min-[480px]:hidden grid grid-cols-4 bottom-0 m-0 p-3 !pb-5 theme w-full
}

.styleWindNotify {
  @apply fixed flex flex-col top-1 right-1 z-[999] rounded-lg styleBorderSolid border !border-white text-white
}

.styleBackWind {
  @apply fixed left-0 top-0 m-0 bg-white/30 dark:bg-black/30 w-full h-[100vh]
}

.styleWind {
  @apply absolute top-1 p-4 mx-auto z-50 rounded-xl styleBorderSolid border bg-white dark:bg-zinc-900 w-10/12 sm:w-5/6 md:w-2/3 lg:w-1/2
}

.styleBorderSolid {
  @apply border-solid border-black dark:border-white
}

.styleBorderSolidLite {
  @apply rounded-lg border-solid border-zinc-600 dark:border-zinc-500
}

.styleLinkMenu {
  @apply flex flex-row gap-x-4 items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-900 dark:text-white
}

.styleLinkBlock {
  @apply flex flex-col gap-y-2 items-center p-2 rounded-lg border-2 border-solid border-black dark:border-white hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-900 dark:text-white text-center
}

.styleLink {
  @apply text-blue-700 dark:text-red-500 no-underline cursor-pointer
}

.styleLinkRedir {
  @apply text-blue-600 decoration-blue-600 dark:text-lime-500 dark:decoration-lime-500 underline decoration-dashed decoration-1 underline-offset-4 cursor-pointer
}

.styleBut {
  @apply flex flex-row justify-center items-center py-2 px-4 active:mt-1 rounded-lg border-b-4 active:border-0 border-solid text-white dark:text-white text-center
}

.styleButInfo {
  @apply styleBut border-blue-900 bg-blue-600
}

.styleButWarn {
  @apply styleBut border-yellow-900 bg-yellow-500
}

.styleButDanger {
  @apply styleBut border-red-900 bg-red-600
}

.styleButSuccess {
  @apply styleBut border-green-900 bg-green-600
}

.styleFloatBut {
  @apply flex flex-row justify-center items-center gap-x-1 p-2 rounded-xl styleBorderSolidLite border hover:bg-gray-400 dark:hover:bg-gray-700 cursor-pointer
}

.styleTR {
  @apply hover:bg-slate-300 dark:hover:bg-neutral-700
}

.styleTD {
  @apply border-2 styleBorderSolid p-1 !border-gray-500 dark:!border-gray-600
}

.styleLI {
  @apply inline-flex p-4 rounded-t-lg border-b-2 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300 cursor-pointer
}

.styleUL {
  @apply flex flex-wrap -mb-px border-b border-gray-200 dark:border-gray-700 font-medium text-center text-sm text-gray-500 dark:text-gray-400
}

.styleLabel {
  @apply block mt-2 text-gray-900 dark:text-white font-medium
}

.styleElem {
  @apply rounded-lg border border-gray-400 dark:border-gray-600 bg-slate-300 dark:bg-neutral-800 focus:ring-blue-500 dark:focus:ring-blue-500 focus:border-blue-500 dark:focus:border-blue-500 text-gray-900 dark:text-white dark:placeholder:text-gray-100 placeholder:text-lg
}

.styleField {
  @apply p-2.5 styleElem
}

.styleFileInput {
  @apply p-2.5 styleElem
}

.styleTextarea {
  @apply block p-2.5 styleElem w-full
}

.styleSelect {
  @apply block px-3 py-2 styleElem w-full
}

.styleToggle {
  @apply after:absolute after:top-0.5 after:left-[2px] rounded-full after:rounded-full after:border dark:border-gray-600 after:border-gray-300 peer-checked:after:border-white peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 bg-gray-300 dark:bg-gray-800 after:bg-white peer-checked:bg-red-600 w-11 after:w-5 h-6 after:h-5 after:transition-all peer-checked:after:translate-x-full after:content-['']
}

.styleCheckbox {
  @apply rounded border-gray-400 dark:border-gray-600 focus:ring-2 focus:ring-blue-500 dark:focus:ring-red-500 dark:ring-offset-gray-800 bg-gray-300 dark:bg-gray-800 w-5 h-5 text-blue-600 dark:text-red-600
}

.styleRadio {
  @apply border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700 focus:ring-2 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 w-6 h-6 text-red-600
}

.styleDetails {
  @apply mx-1
}

ion-icon {
  @apply z-0 !text-2xl !min-w-[25px] !min-h-[25px]
}

svg {
  @apply fill-black dark:fill-white stroke-black dark:stroke-white
}

pre {
  @apply p-5 rounded-lg bg-slate-300 dark:bg-slate-700 w-full
}

.dividerIcon > div {
  @apply hidden
}
.dividerIcon:hover > div {
  @apply flex
}

::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-600
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}

.mat-calendar,
.mat-datepicker-content,
.mat-mdc-select-panel,
.mat-mdc-menu-panel,
.mat-datepicker-actions,
.mat-expansion-panel {
  @apply !rounded-xl styleBorderSolidLite !border
}

.mat-calendar,
.mat-mdc-select-panel,
.mat-mdc-menu-panel,
.mat-expansion-panel,
.mat-datepicker-actions,
.mat-datepicker-content,
.mat-mdc-dialog-container .mdc-dialog__surface {
  @apply !bg-slate-100 dark:!bg-neutral-800
}

.mat-calendar-table-header>tr>*,
.mat-calendar-body-label,
.mat-calendar-body-cell:not(.mat-calendar-body-disabled)>*,
.mat-datepicker-content,
.mat-datepicker-actions,
.mat-mdc-icon-button,
.mdc-button-label,
.mat-mdc-button:not(:disabled),
.mat-mdc-icon-button:not(.mat-mdc-button-disabled),
.mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field__input,
.mat-mdc-select,
.mat-mdc-option,
.mat-expansion-panel,
.mat-expansion-indicator::after,
.mat-expansion-panel-header-title,
.mdc-tab__text-label {
  @apply !text-black dark:!text-white
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  @apply border-b !border-blue-600 dark:!border-green-500
}

.mat-mdc-form-field-required-marker {
  @apply ml-2 text-red-500
}

.mat-calendar-body-disabled>* {
  @apply !text-gray-400 dark:!text-zinc-500
}

.mat-expansion-panel-header-title {
  @apply font-bold
}

.mat-mdc-form-field-subscript-wrapper {
  @apply !h-0
}

.mat-mdc-text-field-wrapper {
  @apply !rounded-lg border !border-gray-400 dark:!border-gray-600 focus:!ring-blue-500 dark:focus:!ring-blue-500 focus:!border-blue-500 dark:focus:!border-blue-500 !bg-slate-300 dark:!bg-neutral-800 placeholder:!text-lg !text-gray-900 dark:!text-white dark:placeholder:!text-gray-100
}

.mdc-line-ripple {
  @apply hidden
}

.mat-icon,
.material-icons {
  @apply !w-[35px] !h-[33px] !text-3xl
}

.ngx-pagination {
  @apply inline-flex -space-x-px !mb-0 items-center
}

.ngx-pagination .pagination-previous,
.ngx-pagination .pagination-previous a,
.ngx-pagination .pagination-previous .disabled {
  @apply block rounded-l-lg 
}

.ngx-pagination .pagination-next,
.ngx-pagination .pagination-next a,
.ngx-pagination .pagination-next .disabled {
  @apply block rounded-r-lg
}

.ngx-pagination .pagination-previous {
  margin-right: calc(-1px * var(--tw-space-x-reverse));
  margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}

.ngx-pagination .pagination-previous.disabled:before, .ngx-pagination .pagination-previous a:before {
  @apply !content-['<'] !mr-0
}

.ngx-pagination .pagination-next.disabled:after, .ngx-pagination .pagination-next a:after {
  @apply !content-['>'] !ml-0
}

.ngx-pagination a, .ngx-pagination .disabled {
  @apply !px-4 !py-2 border !border-gray-300 dark:!border-zinc-600 !bg-white dark:!bg-zinc-800 hover:!bg-gray-100 dark:hover:!bg-zinc-700 text-xl !text-gray-500 dark:!text-zinc-400 hover:!text-gray-700 dark:hover:!text-white
}

.ngx-pagination .current {
  @apply !px-4 !py-2 z-0 border border-blue-300 dark:!border-zinc-400 !bg-blue-50 dark:!bg-zinc-600 hover:!bg-blue-100 dark:hover:!bg-zinc-700 text-xl !text-blue-600 dark:!text-white hover:!text-blue-700
}